# Puerto en el que correrá el servidor de la API
PORT=5000

# Variables de Conexión para el Nodo 1 (Quito - Principal)
DB_USER_QUITO=taller_user
DB_HOST_QUITO=26.44.192.25
DB_DATABASE_QUITO=taller_db
DB_PASSWORD_QUITO=taller123
DB_PORT_QUITO=5433

# Variables de Conexión para el Nodo 2 (Guayaquil)
DB_USER_GUAYAQUIL=taller_user
DB_HOST_GUAYAQUIL=26.26.58.209
DB_DATABASE_GUAYAQUIL=taller_db
DB_PASSWORD_GUAYAQUIL=taller123
DB_PORT_GUAYAQUIL=5432

# Variables de Conexión para el Nodo 3 (Cuenca)
DB_USER_CUENCA=taller_user
DB_HOST_CUENCA=26.8.200.66
DB_DATABASE_CUENCA=taller_db
DB_PASSWORD_CUENCA=taller123
DB_PORT_CUENCA=5432
